<form action='/reg_number'  method='post'>
  <input type="text" name="reg_num" placeholder="Enter Registration Number" ></input>
  <button type="submit" name="" value="regnum">Add</button>
<br></br>
<div class='error'>
  {{messages.error}}
</div>

  <input class='rad1' type='radio' name='Registration' value='Malmesbury'>Malmesbury</input>
  <input class='rad2' type='radio' name='Registration' value='Bellville'>Bellville</input>
  <input  class='rad3' type='radio' name='Registration' value='Cape Town'>Cape Town</input>
  <br></br>
 <button type="submit" name="" value="RegCities">Filter</button>




</form>

<ul>
  {{#each regnumbers}}
    <li>{{this}}</li>
  {{/each}}
</ul>
