body{
  background-color: #433246;
}
li{

    border: 5px solid;
      padding: 10px;
      background: yellow;
      border-radius:30%;
      float: left;
      list-style: none;


}
#reg_num {
  width: 30%;
}
form{
  margin-left: 40%;
  margin-top: 10%;
}
#header{
  width: 100%;

}
.form2{
  margin-top:2em;
}
.col-sm-9{



  padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;
height: 15%;
  background-color: grey;
color:skyblue;

}
 .btn-success:hover{
   background-color:#5cb867;
   color:#fff;
 }
.btn-primary:hover{
  background-color:#5cb867;
  color:#fff;


}
